/* Farger: 
    Orange: #FF5722
    Blå: #3B73AD
*/

#meny {
    z-index: 100;
    position: fixed;
    bottom: -250px;
    background-color: white;
    height: 250px;
    width: 100%;
    color: black;
}

#menyinnhold {
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

#menyinnhold h1 {
    font-size: 30px;
}

#menyinnhold h3 {
    font-size: 20px;
}

#menyinnhold .fra {
    margin-top: -130px;
    margin-bottom: 10px;
}

#menyinnhold .til {
    margin-top: -23px;
}

 .strek {
    width: 5px;
    height: 100px;
    background-color:#FF5722;
    z-index: 1000;
    position: relative;
    margin-left: -30px;
    margin-top: 10px;
}

#circle {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-left: -35px;
  margin-top: 0px;
  background: #FF5722;
  position: relative;
}

#stedTil {
    outline: none;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #388bd1;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: #000;
    box-shadow: none;
    border-radius: 0;
    margin-top: 90px;
}

.lukk {
    font-size: 30px;
    float: right;
    margin-top: -215px;
}

.lukk:hover {
    cursor: pointer;
}

.fratid {
    position: relative;
    margin-top: -155px;
    margin-left: -85px;
}

.tiltid {
    position: relative;
    margin-top: 90px;
    margin-left: -85px;
}

#litenstrek {
  width: 19px;
  height: 5px;
  margin-left: -37px;
  margin-top: -123px;
  background: #FF5722;
  position: relative;
  z-index: 9999;
}



@media only screen and (max-width: 600px) {
    #menyinnhold .til {
        margin-top: 78px;
    }
    
    .lukk {
        margin-top: -320px;
    }
    
    .fratid {
        margin-top: -273px;
    }
    
    .tiltid {
        margin-top: 85px;
    }
    
    #litenstrek {
        margin-top: -117px;
    }
}