/* Farger: 
    Orange: #FF5722
    Blå: #3B73AD
*/

#meny {
    z-index: 100;
    position: fixed;
    bottom: -350px;
    background-color: white;
    height: 350px;
    width: 100%;
    color: black;
}

#menyinnhold {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

#menyinnhold h1 {
    font-size: 30px;
}

#menyinnhold h3 {
    font-size: 20px;
}

#menyinnhold .fra {
    margin-top: 10px;
    margin-bottom: 10px;
}

#menyinnhold .til {
    margin-top: -23px;
}

 .strek {
    width: 5px;
    height: 190px;
    background-color:#FF5722;
    z-index: 1000;
    position: relative;
    margin-left: -40px;
    margin-top: -30px;
}

#circle {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-left: -45px;
  margin-top: -15px;
  background: #FF5722;
  position: relative;
}

#stedTil {
    outline: none;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #388bd1;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: #000;
    box-shadow: none;
    border-radius: 0;
}